html {
    height: 100%;
}

.theme-dark {
    --color-background: #333;
    --color-arrows: #636363;
    --color-arrows-hover: #f2f2f2;
    --color-text-primary: white;
    --color-text-secondary: rgb(192, 192, 192);
    --color-text-active: #ec4b4b;
    --color-image-border: rgb(230, 230, 230);
    --color-button-background: rgb(43, 43, 43);
    --text-weight: 200;
}

.theme-light {
    --color-background: rgb(255, 255, 255);
    --color-arrows: #b3b3b3;
    --color-arrows-hover: #141414;
    --color-text-primary: black;
    --color-text-secondary: rgb(48, 48, 48);
    --color-text-active: #ec4b4b;
    --color-image-border: rgb(156, 156, 156);
    --color-button-background: rgb(230, 230, 230);
    --text-weight: 300;
}

body {
    background: var(--color-background);
    background-size: cover;
    padding-top: 3vh;
}

.container-nav-main {
    display: grid;
    grid-gap: 5px;
    list-style-type: none;
}

.container-nav-inner {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    padding-top: 1.5rem;
    display: grid;
    grid-gap: 2%;
}

.container-nav-main name {
    font-family: 'Oswald', serif;
    font-style: normal;
    font-size: 2.5rem;
    font-kerning: 100;
    letter-spacing: 0.3rem;
    color: var(--color-text-primary);  
    text-shadow: 0 0 black;
}

.container-nav-inner li a {
    color: var(--color-text-secondary);
    text-decoration: none;
    font-size: 1.25rem;  
    font-weight: 400;
    letter-spacing: 0;
    text-shadow: 0 0 black;
}

.container-nav-inner li a:hover:not(.active) {
    color: var(--color-text-active);
}

.container-content-inner p2 a {
    display: inline-block;
    color: var(--color-text-secondary);
    text-decoration: none;
    font-size: 1.5rem;  
    font-weight: 400;
    letter-spacing: 0;
    text-shadow: 0 0 black;
}

.container-content-inner p2 a:hover:not(.active) {
    color: var(--color-text-active);
}

.container-content {
    margin: auto;
    display: grid;
    padding-top: 5vh;
    text-align: left;
}

.container-content-inner p1 {
    display: grid;
    font-family: 'Oswald', serif;
    font-style: normal;
    font-size: 3rem;
    font-kerning: 100;
    font-weight: 300;
    letter-spacing: 0.2rem;
    color: var(--color-text-primary);  
    text-shadow: 0 0 black;
    text-align: left;
}

.container-content-inner p2 {
    display: inline;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: 1.5rem;
    font-kerning: 100;
    color: var(--color-text-primary);  
    text-shadow: 0 0 black;
}

.container-content-inner p3::first-letter {
    font-weight: 400;
    font-size: 2rem;
}

.container-content-inner p3 {
    display: grid;
    padding-bottom: 5%;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: var(--text-weight);
    font-size: 1.35rem;
    font-kerning: 100;
    color: var(--color-text-primary);  
    text-shadow: 0 0 black;
}

.img1 {
    display: block;
    margin: auto;
    width: 85%;
    padding-top: 3%;
}

iframe {
    display: block;
    margin: auto;
    width: 80%;
    height: 600px;
}

.button-container {
    padding-bottom: 2%;
    float: right;
}

.button {
    background-color: var(--color-button-background);
    border: none;
    color: var(--color-text-primary);
    font-family: 'Oswald', serif;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 1vh;
    padding-bottom: 1.25vh;
}

@media (orientation: landscape) {

    body {
        width: 92%;
        margin: 0 auto;
    }

    .container-nav-main {
        grid-auto-flow: column;
    }

    .container-nav-inner {
        grid-auto-flow: column;
        padding-left: 37.5%;
    }

    .container-content {
        grid-auto-flow: column;
        width: 50%
    }
}

@media screen and (orientation: landscape) and (max-width: 900px) {

    body {
        width: 92%;
        margin: 0 auto;
    }

    .container-nav-main {
        grid-auto-flow: column;
    }

    .container-nav-inner {
        grid-auto-flow: column;
        padding-left: 2%;
    }

    .container-nav-inner li a {
        padding-right: 10px;
    }

    .container-content {
        grid-auto-flow: column;
        width: 70%
    }

    iframe {
        height: 400px;
    }
}

@media (orientation: portrait) {

    body {
        width: 100%;
        margin: 0 auto;
    }

    .container-nav-main name {
        font-size: 12.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-nav-inner {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .container-nav-inner li a {
        font-size: 7.5vw;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-content-inner p1 {
        display: grid;
        font-family: 'Oswald', serif;
        font-style: normal;
        font-size: 8vw;
        font-kerning: 100;
        letter-spacing: 0.1rem;
        text-shadow: 0 0 black;
        text-align: center;
    }

    .img1 {
        width: 100%;
        padding-top: 7.5%;
        padding-bottom: 7.5%;
    }

    iframe {
        width: 100%;
        height: 500px;
        padding-bottom: 7.5%;
    }

    .container-content {
        padding-top: 0vh;
        width: 91%;
        text-align: center;
    }

    .container-content-inner p2 {
        display: inline;
        font-family: 'Source Sans Pro', sans-serif;
        font-style: italic;
        font-weight: 300;
        font-size: 1.5rem;
        font-kerning: 100;
        text-shadow: 0 0 black;
        text-align: center;
    }

    .container-content-inner p2 a {
        color: var(--color-text-active);
        text-decoration: none;
        font-size: 2.5rem;  
        font-weight: 400;
        font-kerning: 100;
        letter-spacing: 0;
        text-shadow: 0 0 black;
    }

    .container-content-inner p3 {
        text-align: left;
        padding-bottom: 7.5%;
    }
    
    .button-container {
        padding-bottom: 0%;
        float: none;
    }

    .button {
        width: 100%;
        font-size: 3rem;
    }
}