html {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    background: #333;
    background-size: cover;
    padding-top: 3vh;
}

.container-nav-main {
    display: grid;
    grid-gap: 5px;
    list-style-type: none;
}

.container-nav-inner {
    padding-top: 1rem;
    display: grid;
    grid-gap: 2%;
}

.container-nav-main name {
    font-size: 2.5rem;
    font-kerning: 0;
    font-weight: 200;
    color: white;  
    text-shadow: 0 0 black;
}

.container-nav-inner li a {
    color: rgb(192, 192, 192);
    text-decoration: none;
    font-size: 1.25rem;  
    font-weight: 250;
    letter-spacing: 0;
    text-shadow: 0 0 black;
}

.container-nav-inner li a:hover:not(.active) {
    color: #ec4b4b;
}

.container-nav-inner .active {
    color: #ec4b4b;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(32, 32, 32);
    color: white;
    text-align: center;
    font-size: 0.75em;
    font-style: italic;
    font-weight: 0;
}

@media (orientation: landscape) {

    body {
        width: 92%;
        margin: 0 auto;
    }

    .container-nav-main {
        grid-auto-flow: column;
    }

    .container-nav-inner {
        grid-auto-flow: column;
        padding-left: 37.5%;
    }
}

@media (orientation: portrait) {

    .container-nav-main name {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-nav-inner {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .container-nav-inner li a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}