html {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    background: #333;
    background-size: cover;
}

.container-nav-main {
    padding-top: 1vh;
    display: grid;
    grid-gap: 5px;
    list-style-type: none;
}

.container-nav-main li1 {
    font-size: 2.5rem;
    font-kerning: 0;
    font-weight: 200;
    color: white;  
    text-shadow: 0 0 black;
}

.container-nav-inner li a {
    color: rgb(192, 192, 192);
    text-decoration: none;
    font-size: 1.25rem;  
    font-weight: 250;
    letter-spacing: 0;
    text-shadow: 0 0 black;

    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-nav-inner li a:hover:not(.active) {
    color: #ec4b4b;
}

.container-nav-inner .active {
    color: #ec4b4b;
}

.container-nav-inner {
    padding-top: 0.75rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.item-inner {
    grid-column: span 3;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(32, 32, 32);
    color: white;
    text-align: center;
    font-size: 0.75em;
    font-style: italic;
    font-weight: 0;
}

@media screen and (min-width: 600px) {

    body {
        width: 98%;
        margin: 0 auto;
    }

    .container-nav-inner {
        grid-auto-flow: column;
    }

    .item-inner {
        grid-column: span 1;
    }

}

@media screen and (min-width: 900px) {

    .container-nav-main {
        grid-auto-flow: column;
    }

    .item-inner {
        grid-column: span 1;
    }    
}

@media screen and (max-width: 900px) {

    .container-nav-main li1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}